doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Contraseña
        p Haz solicitado reestablecer tu contraseña, para confirmar haz click en el siguiente enlace.
        a(href=`${resetUrl}`) Reestablecer contraseña
        p Si no puedes acceder a este link, ingresa a  #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo.